body {
  min-height: 100vh;
  padding: 0;
}

a[role="button"] {
  cursor: pointer;
}

.container {
  width: 90%;
  min-height: 90vh;
  background: #F6F6EF;
}

.navbar {
  background: #FF6600;
  text-align: left;
  min-height: 30px;
  align-content: Center;
  line-height: 30px;
  padding: 0 10px;
}

.navbar-action {
  float: right;
  font-size: 12px;
}

.small-links {
  font-size: 12px;
  color: #828282;

}

.post-wrapper {
  text-align:left;
  padding: 8px 10px;
}

.post-link {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
}

.post-comments-link {
  color: #828282;
  font-size: 12px;
  margin-left: 24px;
}

.new-post-wrapper {
  display: flex;
  margin: 8px 15px;
}

.new-post-wrapper div {
  align-self: left;
}

.new-post-wrapper a {
  text-decoration: dashed;
  cursor: pointer;
}

.new-post-wrapper > a {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 11px;
  cursor: pointer;
}

.new-comment-wrapper {
  margin: 20px 0;
}

.new-comment-wrapper * {
  margin-top: 10px;
}

.new-comment-wrapper textarea {
  width: 90%;
  display: block;
}

.comment-wrapper {
  margin: 20px 0px;
}

.comment-author {
  margin-bottom: 5px;
}

.reply-wrapper {
  margin-left: 10px;
}

.login-wrapper {
  margin: 20px 8px;
}