<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NodeJS CouchdDB Boilerplate</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <script>window.CONFIG = {};</script>

  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
  <script src="./node_modules/pouchdb/dist/pouchdb.js"></script>
  <link rel="stylesheet" href="index.css">
  
  </head>

<body>
  <script src="app/index.js"></script>
  <script src="app/home.js"></script>
  <script src="app/post.js"></script>
  <script src="app/login.js"></script>
  <script src="services/post.js"></script>
  <script src="services/comment.js"></script>
  <script src="services/pouchdb.js"></script>
  <script src="components/post.js"></script>
  <script src="components/comment.js"></script>
  <div class="container" ng-app="hNews" ng-controller="HNewsController">
    <div class="navbar">
      <strong>Nodejs Couchdb Boilerplate - HackerNews</strong>
      <a class="navbar-action" ui-sref="login" ng-if="!loggedInUser">Login/Register</a>
      <span role="buton" class="navbar-action" ng-if="loggedInUser">
        {{ loggedInUser.username }} |
        <a role="button" ng-click="logout()">logout</a>
      </span>
    </div>
    <ui-view></ui-view>
  </div>
</body>
</html>