<div class="comment-wrapper">
  <div class="comment-author small-links">
    someusername 4 hours ago <a role="button" ng-click="collapse = !collapse">{{ collapse ? '[ + ]' : '[ - ]' }}</a>
  </div>
  <div ng-hide="collapse">
    <div>{{ $ctrl.doc.text }}</div>
    <div class="small-links">
      <a role="button" ng-click="$ctrl.toggleReply = !$ctrl.toggleReply">reply</a>
      <a role="button" ng-click="$ctrl.toggleEdit = !$ctrl.toggleEdit">edit</a>

    </div>
    <new-comment ng-if="$ctrl.toggleReply" on-add="handleReply(comment)"></new-comment>
    <new-comment 
      ng-if="$ctrl.toggleEdit" 
      comment="$ctrl.doc.text" 
      on-add="handleEdit(comment, $ctrl.doc._id)"></new-comment>


    <div class="reply-wrapper">
      <comment 
        ng-repeat="child in $ctrl.doc.children" 
        ng-if="$ctrl.doc.children"
        post-id="$ctrl.postId"
        doc="child"
        ></comment>
    </div>
  </div>
</div>