<div class="new-comment-wrapper">
  <textarea ng-model="$ctrl.comment"></textarea>
  <button type="button" ng-disabled="!$ctrl.comment" ng-click="$ctrl.onAdd({ comment: $ctrl.comment })">save comment</button>
</div>

